@import './variables';
@import './mixin';
@import './attribution';
@import './layout';
@import './responsive';

//global
a
{
    text-decoration: none;
    color: $color-5;
    &:hover
    {
        text-decoration: underline;
    }
}
body
{
    font-family: $font-family;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img
{
    width: 100%;
    height: 100%;
}